* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#crsr {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  /* background-color: white; */
  border: 1px solid #ffffffbe;
  position: fixed;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #030303;
  padding: 25vh 10vw;
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}
#line1-part1 h5 {
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #030303;
  z-index: 99;
}
#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: #151515; */
  position: relative;
  z-index: 100;
}

#page1 #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
}

/* .cod-logo img {
  max-width: 100%;
height: auto; 
 } */

#nav-part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3vw;
}

#nav-part2 h4 {
  font-size: 0.8vw;
  font-weight: 500;
}

.hero {
  /* background-color: red; */
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  /* background-color: red; */
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99999;
}

.hero:nth-child(2) {
  margin-top: 18vh;
}

.hero h1 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
}

.hero h2,
.hero h3 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
  border-bottom: 0.5vw solid #fff;
}
.hero h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.5vw solid #ffffff00;
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
}

#video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}

#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-color: red;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursor {
  background-color: #ffa63d;
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
}

#video-cursor i {
  font-size: 2vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(61, 61, 61); */
  position: relative;
  padding: 17vh 2vw;
  margin-bottom: 20vh;
  margin-top: 20vh;
}

#page3 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 28vw;
}

#page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}

#page3 .underline {
  margin-left: 28vw;
}

#page4 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  /* background-color: rgb(61, 61, 61); */
  padding: 7vh 0;
}

#page4-content {
  width: 72vw;
  position: relative;

  margin-left: 28%;
}

#page4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}

#page4-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page4-flex img {
  width: 48%;
}

#page4-flex p {
  font-size: 0.9vw;
  width: 19%;
  margin-left: 1vw;
}
